<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<!-- Camera permission -->
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

<uses-feature
    android:name="android.hardware.camera"
    android:required="false" />
<uses-feature
    android:name="android.hardware.camera.ar"
    android:required="false" />

<application
    android:name=".DineARApplication"
    android:usesCleartextTraffic="true"
    android:allowBackup="false"
    android:icon="@drawable/dinear"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.DineAR">

    <!-- ARCore requirement -->
    <meta-data
        android:name="com.google.ar.core"
        android:value="optional"
        tools:replace="android:value" />

    <activity android:name=".ServerConfigActivity" />
    <activity android:name=".location.LocationActivity" />
    <activity android:name=".menu.MenuActivity" />
    <activity android:name=".menu.FoodDetailsActivity" />
    <activity android:name=".RestaurantDetailsActivity" />
    <activity android:name=".CategoryActivity" />
    <activity android:name=".CartActivity" />
    <activity android:name=".CheckoutActivity" />
    <activity android:name=".AddressActivity" />
    <activity android:name=".EditProfileActivity" />
    <activity android:name=".ChangePasswordActivity" />
    <activity android:name=".SettingsActivity" />
    <activity android:name=".MapAddressPickerActivity" />
    <activity android:name=".PaymentWebViewActivity" />
    <activity android:name=".OrdersActivity" />
    <activity android:name=".auth.AuthActivity"
        android:theme="@style/Theme.App.Starting"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".auth.LoginActivity" />
    <activity android:name=".auth.SignupActivity" />
    <activity android:name=".auth.VerifyOtpActivity" />
    <activity android:name=".auth.ForgotPasswordActivity" />
    <activity android:name=".auth.ResetPasswordActivity" />

    <activity
        android:name=".MainActivity"
        android:exported="true">

    </activity>

    <activity android:name=".WriteReviewActivity" />
    <activity android:name=".ReviewsListingActivity" />
    <activity android:name=".ARActivity" />
    <activity android:name=".DiscoverActivity" />

</application>

</manifest>
